name: Playwright Table Sum

on:
  workflow_dispatch:
  push:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Verify Node
        run: |
          node -v
          npm -v

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install 

      - name: Run Script - 25ds1000107@ds.study.iitm.ac.in
        run: node scrape.js